@page "/"
@using Clients
@using Models
@using System.Globalization

<PageTitle>Game Catalog</PageTitle>

<table class="table table-striped table-bordered table-hover"
    <thead class="table-dark">
        <th>Id</th>
        <th>Name</th>
        <th>Genre</th>
        <th class="text-end">Price</th>
        <th>Release Date</th>
        <th></th>
    </thead>
    <tbody>
        @foreach (var game in client) {
            <tr>
                <td>@game.Id</td>
                <td>@game.Name</td>
                <td>@game.Genre</td>
                <td class="text-end">@string.Format(new CultureInfo("en-US"), "{0:C}", game.Price)</td>
                <td>@game.ReleaseDate</td>
                <td>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private GamesClient client = new();
    private 
}
